[Desktop Entry]
Type=Application
Name=FortGNOME VPN indicator
Exec=/usr/lib/fortgnome/fortgnome-gui.py
Icon=/usr/lib/fortgnome/icons/fortgnome-app.png
Terminal=false
X-GNOME-Autostart-enabled=true
